<div class="az-header">
    <div class="container">
        <div class="az-header-left">
            <a href="index.html" class="az-logo"><span></span> Presensi</a>
            <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
        </div><!-- az-header-left -->
        <div class="az-header-menu">
            <div class="az-header-menu-header">
                <a href="index.html" class="az-logo"><span></span> Sohib Iwan</a>
                <a href="" class="close">&times;</a>
            </div><!-- az-header-menu-header -->
            <ul class="nav">

                <li class="nav-item  <% if (currentPage === 'Presensi') { %>active<% } %>">
                    <a href="/admin_presensi" class="nav-link"><i class="typcn typcn-th-large-outline"></i> Presensi</a>
                </li>
                <li class="nav-item  <% if (currentPage === 'Karyawan') { %>active<% } %>">
                    <a href="/karyawan" class="nav-link"><i class="typcn typcn-th-large-outline"></i> Karyawan</a>
                </li>




            </ul>
        </div><!-- az-header-menu -->
        <div class="dropdown az-profile-menu">
            <a href="" class="az-img-user"><img src="/images/face1.jpg" alt=""></a>
            <div class="dropdown-menu">
                <div class="az-dropdown-header d-sm-none">
                    <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                </div>


                <!-- <a href="" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
                <a href="" class="dropdown-item"><i class="typcn typcn-edit"></i> Edit Profile</a>
                <a href="" class="dropdown-item"><i class="typcn typcn-time"></i> Activity Logs</a>
                <a href="" class="dropdown-item"><i class="typcn typcn-cog-outline"></i> Account Settings</a> -->

            </div><!-- dropdown-menu -->
        </div>
    </div><!-- az-header-right -->
</div><!-- container -->
</div><!-- az-header -->